<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SAFE Plasma Donation.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
				<key>dateExpires</key>
				<string>4/10/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E0440A8F9B45DE13D75E2A03C7D9316F88C297</string>
						<key>dateExpires</key>
						<string>4/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR33H5WN2Y</string>
						<key>name</key>
						<string>Shayan Shams</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HR33H5WN2Y.SAFE.SAFE-Plasma-Donation</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HR33H5WN2Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>HR33H5WN2Y.SAFE.SAFE-Plasma-Donation</string>
				</array>
			</dict>
			<key>name</key>
			<string>SAFE Plasma Donation.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b0f67a83-0d7d-45be-be37-a218be58e681</string>
				<key>name</key>
				<string>Safe_Plasma</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HR33H5WN2Y</string>
				<key>name</key>
				<string>Shayan Shams</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
